/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');
/* color varriable */

:root{
    --white: #fff;
    --black: #222;
    --green: #6cbe02;
    --grey: #f0f0f0;
    --gray2: #e9d7d3;

}

/*basic reset */

*,*::after,*::before{
    margin: 0;
    padding:0 ;
    box-sizing: inherit;

}

html{
    box-sizing: border-box;
    font-size: 62.5%;
}

body{
    font-family: 'roboto', sans-serif;
    font-size: 1.6rem;
    background-color: var(--gray2);
    color: var(--black);
    font-weight: 400;
    font-style: normal;


}

a{
    text-decoration: none;
    color: var(--black);

}

li{
    list-style-type: none;
}

img{
    max-width: 100%;
}

.container{
    max-width: 114rem ;
    margin: 0 auto;
    align-items: center;

}

.d-flex{
    display: flex;
    align-items: center;
}

/* header */

.header{

    position: relative;
    min-height: 100vh;
    overflow-x: hidden;
    z-index: 0;

}

.navigation{
    position: relative;
    z-index: 2;
    height: 6rem;
    line-height: 6rem;
}

.nav-center {
    justify-content: space-between;
}

.logo{
    color: white;

}

.nav-center .nav-item:not(:last-child){
    margin-right: 0.5rem;

}

.nav-center .nav-link{
    font-size: 1.8rem;
    padding: 1rem;
    color: white;
}

.nav-center .nav-link:hover{
    color: var(--green);
}

.nav-center .hambarger{
    display: none;
    font-size: 2.4rem;
    cursor: pointer;

}

@media (max-width: 768px){
    .nav-list{
        position: fixed;
        top: 12%;
        left: -100%;
        flex-direction: column;
        align-items: flex-start;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2 );
        background-color: white;
        height: 100%;
        width: 0;
        max-width: 35rem;
        z-index: 100;
        transition: all 300ms ease-in-out;

    }

    .nav-list.open{
        left: 0;
        width: 100%;
    }
    .nav-list .nav-item{
        margin: 0 0 1rem 0;
        width: 100%;
    }

    .nav-list .nav-link{
        font-size: 2rem;
        color: white;
    }
    .nav-center .hambarger{
        display: block;
        color: white;
        font-size: 3rem;
    }
}

/* hero */

.hero .heroSlider{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
}
.hero img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.swiper-button-next::after,
.swiper-button-prev::after{
    content: " ";
}
.swiper-button-next{
    right: -50%;

}

.swiper-button-prev{
    left: -50%;

}


.header:hover .swiper-button-next{
    right: 40px;
}

.header:hover .swiper-button-prev{
    left: 40px;
}

.swiper-button-next, .swiper-button-prev{
    background-color: rgba(0, 0, 0, 0.8 );
    border-radius: 50%;
    padding: 0.5rem 2.3rem;
    transition: all 500ms ease-in-out;
}

.swiper-icon{
    font-size: 5rem;
}

.header .content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    z-index: 1;
    text-align: center;
}

.header .content h1{
    font-size: 7rem;
    color: white;
    margin-bottom: 4rem;
}

.header .search{
    width: 70rem;
    margin: 0 auto;
    padding: 1rem 2rem;
    background-color: rgba(0, 0, 0, 0.6 );
    display: flex;
    align-items: center;
    justify-content: center;

}

.header .search input{
    width: 100%;
    padding: 1.5rem 0;
    text-indent: 1rem;
    font-size: 1.6rem;
    margin-right: 1rem;
    outline: none;
    border: none;

}

.header .search a{
    display: inline-block;
    padding: 1.5rem 4rem;
    background-color: var(--green);
    color: white;
    border-radius: 0.5rem;

}

@media(max-width: 996px){
    .header .content h1{
        font-size: 5rem; 
        margin-bottom: 2rem;
    }
    .header .search{
        width: 50re;
    }
}

@media(max-width: 567px){
    .header .content h1{
        font-size: 3rem; 
        margin-bottom: 2rem;
    }
    .header .search{
        width: 100%;
    }
    .header .search input{
        padding: 1rem 0;
        font-size: 1.3rem;
    }
    .header .search a{
       padding: 1rem; 
    }
    .header:hover .swiper-button-next{
        right: 5px;
    }
    
    .header:hover .swiper-button-prev{
        left: 5px;
    }

    .swiper-icon{
        font-size: 3rem;
    }
    .swiper-button-next, 
    .swiper-button-prev{
        padding: 0.2rem 2.3rem;
    }
    
}

/* Rent Properties */
.secton{
    padding: 10rem 0;
}

.secton.rent{
    background-color: #f0f4f7;
}

.rent-center{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(24rem,1fr));
    gap: 4rem 2rem;
}

.title{
    text-align:center;
    margin-bottom: 5rem;
    padding: 1rem;
}

.title h1 {
    font-weight: 100;
    font-size: 6rem;
    margin-bottom: 1rem;
}

.rent .box {
    transition: all 300ms ease-in-out;
    background-color: white;
}

.rent .box:hover{
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2 );
}

.rent .box .top{
    padding: 1rem;
    position: relative;
    height: 20rem;
    transition: all 300ms ease-in-out;
}

.rent .box:hover .top{
    cursor: pointer;
}
.rent .box .top img{
    height: 100%;
    object-fit: cover;
}
.rent .box .overlay{
    position: absolute;
    top: 0;
    left: 0;
    padding: 1rem;
    background-color: white;
    height: 20rem;
    width: 100%;
}
.rent .box .overlay::after{
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.2 );
    height: 100%;
    width: 100%;
    opacity: 0;
    visibility: hidden;
    transition: all 300ms ease-in-out;
}

.rent .box .top:hover .overlay::after{
    opacity: 1;
    visibility: visible;

}
.rent .box .pos{
    display: inline-block;
}

.rent .box .pos span{
    display: inline-block;
    font-size: 1.3rem;
    color: white;
    margin-right: 0.5rem;
    padding: 0.3rem;
    border-radius: 0.3rem;
}

.rent .box .pos span:first-child{
    background-color: #43c370;
}

.rent .box .pos span:last-child{
    background-color: #e0203b;
}

.rent .box .bottom{
    padding: 1.5rem;
}

.rent .box .bottom p{
    font-size: 2rem;
    font-weight: 500;
    color: #555;
    cursor: pointer;
    transition: all 300ms ease-in-out;
}
.rent .box .bottom div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
    color: #555;
}
.rent .box .bottom div span{
    font-size: 1.8rem;
}

.rent .box:hover .bottom p{
    color: #006eff;
}

.rent.box.bottom div i{
    font-size: 2.5rem;
}

@media(max-width: 768px){
    .title h1 {
        font-size: 4rem;
    }
}
@media(max-width: 567px){
    .title h1 {
        font-size: 3rem;
    }
}
